.dashboard {
    display: flex;
}

.map {
    width: 85%;
    height: 100vh;
}

.marker {
    width: 28px;
    height: 28px;
    background-color: cyan;
    border-radius: 32px;
    border: 2px solid black;
}