.dashboard {
    display: flex;
    padding-top:100px;
    height: 100vh;
    overflow: hidden;
}

.map {
    width: 85%;
}

.marker {
    width: 28px;
    height: 28px;
    background-color: cyan;
    border-radius: 32px;
    border: 2px solid black;
}