.sidebar {
    width: 15%;
    height: 100vh;
    position: sticky;
    overflow-y: scroll;
    background: -webkit-linear-gradient(rgba(36, 73, 151, 255) rgba(84, 164, 234, 255));
    background: linear-gradient(rgba(102, 148, 247, 0.8), rgba(0, 0, 0, 0.8));
}

.sidebar-header {
    text-align: center;
    padding-top: 10px;
}

.add-device {
    width: 100%;
}

.add-device-button {
    background-color: transparent;
    text-decoration: none;
    display: inline block;
    text-align: center;
    color: #fff;
    transition: 300ms ease;
    border: 2px solid #fff;
    width: 90%;
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5%;
    margin-top: 20px;
}

.add-device-button:hover {
    cursor: pointer;
    background-color: grey;
    color: rgba(102, 148, 247, 0.8);
}

.golfers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.golfer {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.golfer>img {
    width: 100px;
    height: 100px;
}